html {
  	box-sizing: border-box;
  	background-color: #a4daab;
  	height: 100%;
}

*, *:before, *:after {
  	box-sizing: inherit;
}

* {

-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

body {
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	/*justify-content: space-between;*/
	min-height: 100vh;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: 3.5em;
	text-align: center;
	font-weight: 400;
	cursor: pointer;
}

.chord-icon {
	border: 3px solid white;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}


canvas {
	margin: 10px;
}

main {
	display: flex;
	align-items: center;
  justify-content: center;
	flex-wrap: wrap;
}

.chord-container {
	cursor: pointer;
	margin: 20px;
}

.pulsate {
	-webkit-animation-name: pulsate;
	animation-name: pulsate;
	-webkit-animation-duration: 1.1s;
	animation-duration: 1.1s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1)}
    50% {-webkit-transform: scale(1.025)}
    100% {-webkit-transform: scale3d(1)}
}

@keyframes pulsate {
    0% {-webkit-transform: scale(1)}
    50% {-webkit-transform: scale(1.025)}
    100% {-webkit-transform: scale3d(1)}
}

.pulsate-arrow {
	-webkit-animation-name: pulsate-arrow;
	animation-name: pulsate-arrow;
	-webkit-animation-duration: 1.1s;
	animation-duration: 1.1s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate-arrow {
    0% {-webkit-transform: scale(1)}
    50% {-webkit-transform: scale(1.15)}
    100% {-webkit-transform: scale3d(1)}
}

@keyframes pulsate-arrow {
    0% {-webkit-transform: scale(1)}
    50% {-webkit-transform: scale(1.15)}
    100% {-webkit-transform: scale3d(1)}
}


.chord-name {
	font-weight: 400;
	text-align: center;
	margin: 0;
	-webkit-margin-after: 0;
}

.flat-sharp {
	font-size: 43px;
	vertical-align: 7px;
	margin: 0 -5px;
}

.landing-chord {
	font-size: 4.5em;
}

sup {
	font-size: 35px;
	vertical-align: 10px;
}

.more-chords {
  margin-left: 20px;
	cursor: pointer;
	display: inline-block;
}

.chord-menu {
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: 3em;
	padding: 10px;
	margin-bottom: 10px;
  flex-wrap: wrap;
}

.root-note, .maj-min {
	display: flex;
}

.key {
	margin: 20px;
}

.a, .c, .d, .e, .g, .major, .minor {
	cursor: pointer;
	margin: 20px;
}

.bold {
	font-weight: 700;
}

.chord-list-container {
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  flex: 1 0 60%;
  margin-left: 10%;
  margin-right: 5%;
}

.chord-list-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;

}

.chord-family-letter, .chord-family-numeral {
  font-size: 2em;
  text-align: center;
}

.chord-family-numeral {
  font-family: 'Josefin Slab', serif;

}

.chord-list {
	display: flex;
	justify-content: flex-start;
	flex: 1 0 90%;
	overflow: scroll;
	margin: 10px;
}

.chord-chord {
	font-size: 2em;
}

footer {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 10px;
  margin-top: auto;
}

ul {
	margin: 0;
	list-style: none;
}


td {
	padding: 5px;
}

table {
	padding: 0 10px;
}
